@import (reference) '~antd/es/style/themes/index';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: @layout-body-background;
}

.lang {
  width: 100%;
  height: 40px;
  line-height: 44px;
  text-align: right;
  :global(.ant-dropdown-trigger) {
    margin-right: 24px;
  }
}

.content {
  flex: 1;
  padding: 32px 0;
}

@media (min-width: @screen-md-min) {
  .container {
    // background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    background-image: url('/bgc.png');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 100% 100%;
  }


  .content {
    padding: 0 !important;
    width: 500px;
    height: 500px;
    left: 30%;
    margin-bottom: 50px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0px 0px 18px 10px #000;
    :global {
      .ant-input-affix-wrapper {
        background-color: #fff0 !important;
        border: 1px solid #fff0 !important;
      }
      .ant-input {
        background-color: #fff0 !important;
        border: 1px solid #fff0 !important;
        color: rgb(0, 0, 0) !important;
        &::placeholder {
          color: rgb(0, 0, 0) !important;
        }
      }
    }
  }

}

.icon {
  margin-left: 8px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: @primary-color;
  }
}


